* {
    background-image: none;
    background-color: transparent;
}

window {
    background-color: rgba(12, 13, 17, 0.95);
}

button {
    color: #CACEE2;
    background-color: rgba(26, 28, 38, 0.8);
    border-radius: 12px;
    border-style: solid;
    border-width: 2px;
    border-color: rgba(42, 45, 58, 0.8);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25%;
    margin: 5px;
    transition: all 0.3s ease;
}

button:focus, button:active, button:hover {
    background-color: rgba(42, 45, 58, 0.9);
    border-color: rgba(168, 174, 255, 0.95);
    outline-style: none;
    color: #A8AEFF;
}

#lock {
    background-image: image(url("icons/icons8-lock-100.png"));
}

#logout {
    background-image: image(url("icons/icons8-logout-rounded-100.png"));
}

#suspend {
    background-image: image(url("icons/icons8-sleep-100.png"));
}

#shutdown {
    background-image: image(url("icons/icons8-shutdown-100.png"));
}

#reboot {
    background-image: image(url("icons/icons8-restart-100.png"));
}
